:root
{
    --white: hsl(0, 0%, 100%);
    --lgray: hsl(212, 45%, 89%);
    --gblue: hsl(220, 15%, 55%);
    --dblue: hsl(218, 44%, 22%);
}

@media (max-width: 375px)
{
    .qrcode
    {
        padding: 16px;
        border-radius: 24px;
        width: 80vw;
    }
    .title
    {
        font-size: 22px;
        padding: 2px 28px;
    }

    .text
    {
        padding: 12px 44px 42px;
    }
}