:root
{
    --white: hsl(0, 0%, 100%);
    --lgray: hsl(212, 45%, 89%);
    --gblue: hsl(220, 15%, 55%);
    --dblue: hsl(218, 44%, 22%);
}

body
{
    background-color: var(--lgray);
    /* Align components h and v in center */
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container
{
    background-color: var(--white);
    border-radius: 1rem;
    max-width: 320px;
}

.qrcode
{
    justify-content: center;
    max-width: inherit;
}

.qrcode img
{
    max-width: 95%;
    border-radius: 1rem;
    padding: .5rem .5rem;
}

p, h1
{
    font-family: 'Outfit';
    text-align: center;
}

.title
{
    font-weight: 700;
    color: var(--dblue);
    font-size: 1.4rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.text
{
    font-weight: 400;
    color: var(--gblue);
    margin-top: 1rem;
    margin-bottom: 3rem;
    margin-left: 2rem;
    margin-right: 2rem;
}